<ul class="navbar-nav ml-auto float-right">

  <li class="nav-item">
    <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
  </li>
  <% if author_signed_in? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= yield(:author) %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Author
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to 'My posts', authors_posts_path, class: "dropdown-item" %>
        <%= link_to 'Account', edit_authors_account_path, class: "dropdown-item" %>
        <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Sign In', authors_posts_path, class: "nav-link #{yield(:author)}" %>
    </li>
  <% end %>
</ul>
